@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-sans: 'Montserrat', sans-serif;
  --font-mono: 'Roboto', sans-serif;

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --color-purple-1: var(--purple-1);
  --color-purple-2: var(--purple-2);
  --color-purple-3: var(--purple-3);
  --color-purple-4: var(--purple-4);
  --color-purple-5: var(--purple-5);
  --color-purple-6: var(--purple-6);
  --color-purple-7: var(--purple-7);
  --color-purple-8: var(--purple-8);
  --color-purple-9: var(--purple-9);
  --color-purple-10: var(--purple-10);
  --color-purple-11: var(--purple-11);
  --color-purple-12: var(--purple-12);
  --color-purple-alpha-1: var(--purple-alpha-1);
  --color-purple-alpha-2: var(--purple-alpha-2);
  --color-purple-alpha-3: var(--purple-alpha-3);
  --color-purple-alpha-4: var(--purple-alpha-4);
  --color-purple-alpha-5: var(--purple-alpha-5);
  --color-purple-alpha-6: var(--purple-alpha-6);
  --color-purple-alpha-7: var(--purple-alpha-7);
  --color-purple-alpha-8: var(--purple-alpha-8);
  --color-purple-alpha-10: var(--purple-alpha-10);
  --color-purple-alpha-11: var(--purple-alpha-11);
  --color-purple-alpha-12: var(--purple-alpha-12);

  --color-mauve-dark-1: var(--mauve-dark-1);
  --color-mauve-dark-2: var(--mauve-dark-2);
  --color-mauve-dark-3: var(--mauve-dark-3);
  --color-mauve-dark-4: var(--mauve-dark-4);
  --color-mauve-dark-5: var(--mauve-dark-5);
  --color-mauve-dark-6: var(--mauve-dark-6);
  --color-mauve-dark-7: var(--mauve-dark-7);
  --color-mauve-dark-8: var(--mauve-dark-8);
  --color-mauve-dark-9: var(--mauve-dark-9);
  --color-mauve-dark-10: var(--mauve-dark-10);
  --color-mauve-dark-11: var(--mauve-dark-11);
  --color-mauve-dark-12: var(--mauve-dark-12);
  --color-mauve-dark-alpha-1: var(--mauve-dark-alpha-1);
  --color-mauve-dark-alpha-2: var(--mauve-dark-alpha-2);
  --color-mauve-dark-alpha-3: var(--mauve-dark-alpha-3);
  --color-mauve-dark-alpha-4: var(--mauve-dark-alpha-4);
  --color-mauve-dark-alpha-5: var(--mauve-dark-alpha-5);
  --color-mauve-dark-alpha-6: var(--mauve-dark-alpha-6);
  --color-mauve-dark-alpha-7: var(--mauve-dark-alpha-7);
  --color-mauve-dark-alpha-8: var(--mauve-dark-alpha-8);
  --color-mauve-dark-alpha-9: var(--mauve-dark-alpha-9);
  --color-mauve-dark-alpha-10: var(--mauve-dark-alpha-10);
  --color-mauve-dark-alpha-11: var(--mauve-dark-alpha-11);
  --color-mauve-dark-alpha-12: var(--mauve-dark-alpha-12);

  --color-mauve-2: var(--mauve-2);
  --color-mauve-3: var(--mauve-3);
  --color-mauve-4: var(--mauve-4);
  --color-mauve-5: var(--mauve-5);
  --color-mauve-6: var(--mauve-6);
  --color-mauve-7: var(--mauve-7);
  --color-mauve-8: var(--mauve-8);
  --color-mauve-9: var(--mauve-9);
  --color-mauve-10: var(--mauve-10);
  --color-mauve-11: var(--mauve-11);
  --color-mauve-12: var(--mauve-12);
  --color-mauve-alpha-1: var(--mauve-alpha-1);
  --color-mauve-alpha-2: var(--mauve-alpha-2);
  --color-mauve-alpha-3: var(--mauve-alpha-3);
  --color-mauve-alpha-4: var(--mauve-alpha-4);
  --color-mauve-alpha-5: var(--mauve-alpha-5);
  --color-mauve-alpha-6: var(--mauve-alpha-6);
  --color-mauve-alpha-7: var(--mauve-alpha-7);
  --color-mauve-alpha-8: var(--mauve-alpha-8);
  --color-mauve-alpha-9: var(--mauve-alpha-9);
  --color-mauve-alpha-10: var(--mauve-alpha-10);
  --color-mauve-alpha-11: var(--mauve-alpha-11);
  --color-mauve-alpha-12: var(--mauve-alpha-12);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);

  --purple-dark-1: #18111b;
  --purple-dark-2: #1e1523;
  --purple-dark-3: #3d224e;
  --purple-dark-4: #3d224e;
  --purple-dark-5: #48295c;
  --purple-dark-6: #54346b;
  --purple-dark-7: #664282;
  --purple-dark-8: #8457aa;
  --purple-dark-9: #8e4ec6;
  --purple-dark-10: #9a5cd0;
  --purple-dark-11: #d19dff;
  --purple-dark-12: #ecd9fa;
  --purple-dark-alpha-1: rgba(180, 18, 249, 0.04);
  --purple-dark-alpha-2: rgba(183, 68, 247, 0.08);
  --purple-dark-alpha-3: rgba(193, 80, 255, 0.18);
  --purple-dark-alpha-4: rgba(187, 83, 253, 0.26);
  --purple-dark-alpha-5: rgba(190, 92, 253, 0.32);
  --purple-dark-alpha-6: rgba(193, 109, 253, 0.38);
  --purple-dark-alpha-7: rgba(195, 120, 253, 0.48);
  --purple-dark-alpha-8: rgba(196, 126, 255, 0.64);
  --purple-dark-alpha-9: rgba(182, 97, 255, 0.76);
  --purple-dark-alpha-10: rgba(188, 111, 255, 0.8);
  --purple-dark-alpha-11: rgba(209, 157, 255, 1);
  --purple-dark-alpha-12: rgba(241, 221, 255, 0.98);

  --purple-1: #fefcfe;
  --purple-2: #fbf7fe;
  --purple-3: #f7edfe;
  --purple-4: #f2e2fc;
  --purple-5: #ead5f9;
  --purple-6: #e0c4f4;
  --purple-7: #d1afec;
  --purple-8: #be93e4;
  --purple-9: #8e4ec6;
  --purple-10: #8347b9;
  --purple-11: #8145b5;
  --purple-12: #402060;
  --purple-alpha-1: rgba(170, 0, 170, 0.01);
  --purple-alpha-2: rgba(128, 0, 224, 0.03);
  --purple-alpha-3: rgba(142, 0, 241, 0.07);
  --purple-alpha-4: rgba(141, 0, 229, 0.11);
  --purple-alpha-5: rgba(128, 0, 219, 0.16);
  --purple-alpha-6: rgba(122, 1, 208, 0.23);
  --purple-alpha-7: rgba(109, 0, 195, 0.31);
  --purple-alpha-8: rgba(102, 0, 192, 0.42);
  --purple-alpha-10: rgba(92, 0, 173, 0.69);
  --purple-alpha-11: rgba(83, 0, 158, 0.72);
  --purple-alpha-12: rgba(82, 0, 154, 0.73);

  --mauve-dark-2: #121113;
  --mauve-dark-3: #1a191b;
  --mauve-dark-4: #2b292d;
  --mauve-dark-5: #323035;
  --mauve-dark-6: #3c393f;
  --mauve-dark-7: #49474e;
  --mauve-dark-8: #625f69;
  --mauve-dark-9: #6f6d78;
  --mauve-dark-10: #7c7a85;
  --mauve-dark-11: #b5b2bc;
  --mauve-dark-12: #eeeef0;
  --mauve-dark-alpha-1: rgba(0, 0, 0, 0);
  --mauve-dark-alpha-2: rgba(245, 244, 246, 0.04);
  --mauve-dark-alpha-3: rgba(235, 234, 248, 0.08);
  --mauve-dark-alpha-4: rgba(238, 229, 248, 0.11);
  --mauve-dark-alpha-5: rgba(239, 230, 254, 0.15);
  --mauve-dark-alpha-6: rgba(241, 230, 253, 0.19);
  --mauve-dark-alpha-7: rgba(238, 233, 255, 0.25);
  --mauve-dark-alpha-8: rgba(238, 231, 255, 0.36);
  --mauve-dark-alpha-9: rgba(234, 230, 253, 0.43);
  --mauve-dark-alpha-10: rgba(236, 233, 253, 0.49);
  --mauve-dark-alpha-11: rgba(245, 241, 255, 0.72);
  --mauve-dark-alpha-12: rgba(253, 253, 255, 0.94);

  --mauve-1: #fdfcfd;
  --mauve-2: #faf9fb;
  --mauve-3: #f2eff3;
  --mauve-4: #eae7ec;
  --mauve-5: #e3dfe6;
  --mauve-6: #dbd8e0;
  --mauve-7: #d0cdd7;
  --mauve-8: #bcbac7;
  --mauve-9: #8e8c99;
  --mauve-10: #84828e;
  --mauve-11: #65636d;
  --mauve-12: #211f26;
  --mauve-alpha-1: rgba(85, 0, 85, 0.01);
  --mauve-alpha-2: rgba(43, 0, 85, 0.02);
  --mauve-alpha-3: rgba(48, 0, 64, 0.06);
  --mauve-alpha-4: rgba(32, 0, 54, 0.09);
  --mauve-alpha-5: rgba(32, 0, 56, 0.13);
  --mauve-alpha-6: rgba(20, 0, 53, 0.15);
  --mauve-alpha-7: rgba(16, 0, 51, 0.2);
  --mauve-alpha-8: rgba(8, 0, 49, 0.27);
  --mauve-alpha-9: rgba(5, 0, 29, 0.45);
  --mauve-alpha-10: rgba(5, 0, 25, 0.49);
  --mauve-alpha-11: rgba(4, 0, 17, 0.61);
  --mauve-alpha-12: rgba(2, 0, 8, 0.88);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply antialiased;
  }

  body {
    @apply bg-background text-foreground;
  }
}
